<div class="bg-tanLight bg-topo pb-10">
    <div class="container mx-auto">
        <h1 class="font-bold text-6xl max-w-4xl pt-10 pb-6">Welcoming greeting and intro to Ghost Town Finder.</h1>
        <p class="text-brown pb-12 text-md">Supportive statement explaining what the heck this is and why it would be fun to try.</p>
        <h2 class="mt-4 font-semibold text-xl mb-2">Get Started</h2>
        <div class="w-1/2">
            <div data-react="PlacesRedirectToExplore"></div>
        </div>
        <h3 class="mt-12 pt-12 mb-4 text-red text-xl font-semibold">Ghost Towns to Explore</h3>
        <div class="flex">
            {{ taxonomy:states show="all" }}
                <div class="max-w-xxs rounded overflow-hidden bg-white border border-tan mr-6">
                    <a href="/explore?query={{ slug }}">
                        {{ image }}
                        <img src="{{ glide:value width="193" height="245" fit="crop" }}"  alt="" class="w-full">
                        {{ /image }}
                        <h6 class="text-lg font-bold mt-3 mb-2 mx-4">{{ title }}</h6>
                        <p class="mb-4 mx-4 text-sm text-brown">{{ results }} Towns</p>
                    </a>
                </div>
            {{ /taxonomy:states }}
        </div>
    </div>
</div>