<div class="bg-white px-4 py-4 border-t-2 border-tan-400">
    <div class="container mx-auto">
        <footer class="flex items-center justify-end">
            <a class="block text-sm text-brown font-semibold mx-8" href="/explore">Explore</a>
            <a class="mx-8 block text-sm text-brown font-semibold" href="/guides">Guides</a>
            <a class="mx-8 block text-sm text-brown font-semibold" href="/about">About</a>
            <p class="ml-4 text-brown text-sm pb-0">&copy; {{ now format="Y" }} {{ author_name }}</p>
        </footer>
    </div>
</div>