<div class="bg-white px-4 py-4 border-b-2 border-tan-400">
    <nav class="flex items-center justify-between flex-wrap mx-3">
        <div class="flex items-center">
            <a href="/" class="font-brand text-2xl text-red tracking-wider uppercase">Ghost Town Finder</a>
        </div>
        <div class="flex">
            <a class="block text-sm font-semibold mx-8" href="/explore">Explore</a>
            <a class="mx-8 block text-sm font-semibold" href="/guides">Guides</a>
            <a class="ml-8 block text-sm font-semibold" href="/about">About</a>
        </div>
    </div>
</div>